.opinions {
    padding: 128px 0 96px;
    background: $c-background;

    &__heading {
        text-align: center;
    }

    &__items {
        margin-top: 55px;
    }

    &__pagination { 
        position: static;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 56px;
    }
}