$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-e-receipt: "\e907";
$icon-quickness: "\e908";
$icon-reservation: "\e90a";
$icon-video: "\e90b";
$icon-dicretia: "\e90c";
$icon-diagnosis: "\e90d";
$icon-facebook: "\e902";
$icon-instagram: "\e903";
$icon-active-mark: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e909";
$icon-before-after: "\e916";
$icon-check: "\e917";
$icon-chevron-down: "\e918";
$icon-chevron-left: "\e919";
$icon-chevron-right: "\e91a";
$icon-chevron-up: "\e91b";
$icon-close: "\e91c";
$icon-eye: "\e91d";
$icon-gallery: "\e91e";
$icon-language: "\e91f";
$icon-reverse: "\e920";
$icon-star-empty: "\e921";

