$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-facebook: "\e902";
$icon-instagram: "\e903";
$icon-dicretia-path1: "\e907";
$icon-dicretia-path2: "\e908";
$icon-dicretia-path3: "\e90a";
$icon-e-receipt-path1: "\e90b";
$icon-e-receipt-path2: "\e90c";
$icon-quickness-path1: "\e90d";
$icon-quickness-path2: "\e90e";
$icon-quickness-path3: "\e90f";
$icon-reservation-path1: "\e910";
$icon-reservation-path2: "\e911";
$icon-reservation-path3: "\e912";
$icon-video-path1: "\e913";
$icon-video-path2: "\e914";
$icon-video-path3: "\e915";
$icon-active-mark: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e909";
$icon-before-after: "\e916";
$icon-check: "\e917";
$icon-chevron-down: "\e918";
$icon-chevron-left: "\e919";
$icon-chevron-right: "\e91a";
$icon-chevron-up: "\e91b";
$icon-close: "\e91c";
$icon-eye: "\e91d";
$icon-gallery: "\e91e";
$icon-language: "\e91f";
$icon-reverse: "\e920";
$icon-star-empty: "\e921";
$icon-diagnosis-path1: "\e904";
$icon-diagnosis-path2: "\e905";
$icon-diagnosis-path3: "\e906";

