.seoIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        margin-bottom: 40px;
        border-radius: 16px;
        background: $c-light;
        font-size: 2rem;
    }

    &__title {
        margin-bottom: 8px;
        color: $c-dark;
        font-family: $f-headers;
        font-size: 2.4rem;
    }
}