@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: url("./src/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 700;
    src: url("./src/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype");
}